.home__container {    
  height: 111px;
  margin-bottom: 20px;
  .home__banner {
    background-image: url("../assets/background.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

    h1{
      padding: 25px;
    }

  }
}
.results {
  .results__container {
    .thumb {
      position: relative;
      margin-bottom: 20px;
      img {
        width: 100%;
        border-radius: 10px;
      }
      h2 {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        font-weight: normal;
      }
    }
  }
}
